#new-arrivals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#new-arrivals p{
    padding-bottom: 20px;
    text-align: left;
}

#home-img{
    width: 100%;
    height: 400px;
    background-image: url('/images/home-image.png');
    background-size: cover;
    background-position: 50% 30%;
}

#home-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.link-btn {
    width: 100%;
    max-width: 450px;
}


#coming-events {
    
}

#carousel-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
    height: 269px;
    overflow-x: scroll; /* Enable horizontal scrolling */
    align-items: center;

}

#carousel-container::-webkit-scrollbar{
display:none
}

.carousel-item {
    flex: 0 0 auto; /* Ensure the items don't grow and maintain their original size */
    margin-right: 35px; /* Adjust the spacing between carousel items */
}

#coming-events p {
    margin-bottom: 0; /* Remove default margin for paragraphs */
}

#coming-events img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain the aspect ratio of the images */
    border-radius: 8px; /* Add rounded corners to the images if desired */
}


#home-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}