img{
    border-radius: 10px;
}
.addToCart-btn{
    background-color: rgb(00R6009);

}
.product-container{
    background-color: black;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.product-img{
    max-height: 60%;
    max-width: 90%;
  }
.product-price{
    color:white;

}
.sizes{
  padding: 20px;
 
}
  .size-btn{
    background-color: black;
    border: 0;
  }
  .product-description{
    color:white;
  }
  .quantity-container{
    display: flex;
    background-color: black;
    width: 12vw;
    justify-content: space-between;
  }
  .quantity-container-right{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    color:white;
    border: 2px solid white;
    border-radius: 20px;
  }
  #increaseQ, #decreaseQ{
    height: 30px;
    width: 30px;
    color:white;
    background-color: black;
    border: none;
  }
